body{
    background: url(images/boardbackground.jpg) repeat;  
}

.landing-wrapper{
    width: 1200px;
    margin: 0 auto;
    background-image: url(images/landing-background.jpg);
    height: 800px;
    background-size: 1200px;
    border-radius: 15px;
    font-size: 17px;
    font-style: italic;
    font-weight: bold;
}

    .landing-wrapper header{
        text-align: center;
    }

.landing {
    display: flex;
    flex-direction: column;

    background-color: mediumseagreen;
    font-family: sans-serif;
}

form {
    margin: 75px 75px;
    display: inline-block;
}

 #mclovin {
    height:270px;
    width:480px;
    border-radius: 20px;
    margin-right: 100px;
}
 #nameBox {
    font-family: sans-serif;
    height:100px;
    width:200px;;
    border-radius: 15px;
    background-color: lightgray;
    border: solid .5px gray;
    text-align: center;
    float: right;
    padding:5px;
}
 #input{
    margin: 7px;
    border-radius: 5px;
    border: 1px solid skyblue;
    box-shadow: 0 0 8px;
 }

.button {
    padding: 9px 15px;
    border-radius: 15px;
    border-color:#1b57b7;
    background-color: #2e66c1;
    color: #fcfdff;      
}


.gameHeader {
    width: 70%;
    color: rebeccapurple;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    padding: 10px 0;
    margin-left: 16%;
}
    .gameHeader h1 {
        display: inline-block;
    }

.board {
    background-image: url(images/RoadtripJourney.png);
    background-size: 1200px;
    background-repeat: no-repeat;
    width:1200px;
    height:1000px;  
    margin-left: 13%;
}

.car {  
    left: 1180px;
    top: 111px;
    position: relative;
}
    .car img {
      height: 125px; 
      width: 125px;   
    }

#modal{
    background-color: #edf7f7;
}

.trivia-content {
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   text-align: center;
}

    .trivia-content .buttons {
        display: table-row;
    }

.gameState {
    display: none;
}

.tablet {
     text-align: center;
     font-size: 32px;
}

@media (max-device-width: 1024px) {
      .tablet {
          display: block;
      }

      .board {
          display: none;
      }
  }

@media (min-width:1025px) {
      .tablet {
          display: none;
      }

      .board {
          display: block;
      }
    
     }
