/*.landing {
    background-color: mediumseagreen;
    font-family: sans-serif;
}
.landingHead{
    display: left block;
    
}

 #mclovin {
    height:270px;
    width:480px;
}
 #nameBox {
    font-family: sans-serif;
    height:40%;
    width:25%;
    border-radius: 15px;
    background-color: gray;
    text-align: center;
    float: right;
    margin-right: 380px;
}
*/





.gameHeader {
    width: 70%;
    background-color: #428cf4;
    color: navajowhite;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}


.board {
    background-image: url(../images/Roadtripjourney.png);
    background-size: 1000px;
    background-repeat: no-repeat;
    width:1000px;
    height:800px;  
    float:left;
}

.car {
    margin-bottom: 10%;
}

#car {
    height: 125px; 
    width: 125px;
    position: absolute;
}




.modal {
    /*display: none; keeps modal hidden until opened 
    height: 100%;
    width: 100%;
    padding-top: 200px;
    position: fixed;*/
    
}


.trivia-content {
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   background-color: #42f4f1;
   text-align: center;
}

    .trivia-content .buttons {
        display: table-row;
    }


.gameState {
    display: none;
}
